/* Sidebar for mobile view */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0056b3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* TODO 2: Set the display property to hide the sidebar by default. */
    display: none; /* Sidebar is hidden by default */
}


.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #ffd700;
}

/* TODO 3: Add a media query for screens under 768px to hide the <nav> element and display the <div class="sidebar">. */

/* Adjusting the width for mobile view */
@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
 
    .sidebar {
        width: 150px;
        /* Adjust the width of the sidebar */
        display: block;
    }
 
    /* Adjusting the position and size of the main content */
    main {
        margin-left: 150px;
        /* Offset the main content to not be covered */
        flex: 1;
    }

}