body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f1f1f1;
}

#form-section {
    padding: 40px;
    max-width: 1000px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 30px;
}

.three-column-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 30px; /* First value is vertical gap, second is horizontal gap */
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

form label {
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}

form input, form select {
    padding: 12px;
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus, form select:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

form button.submit-btn {
    grid-column: span 3;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

form button.submit-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    position: absolute;
    bottom: -20px;
}

#productImageSection img {
    max-width: 300px;
    margin-top: 20px;
    border: 2px solid #007bff;
    border-radius: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}
